* {
  box-sizing: border-box;
}
body.rtl {
  direction: rtl;
}
.table-section {
  margin-top: 50px;
  text-align: center;
}
.add-book-btn {
  width: 55px;
  height: 55px;
}
.add-book {
  width: 250px;
  margin: 0 auto 30px auto;
}
.img-book {
  max-height: 150px;
}
